<!--
/**
 * Copyright (C) 2019 KhronoSync Digital Solutions LLC
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <https://www.gnu.org/licenses/>
 */
-->
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Linux Delta</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
  <link rel="stylesheet" href="/static/css/w3.css">
  <link rel="stylesheet" href="/static/css/theme.css">
  <link rel="stylesheet" href="/static/css/style.css">
</head>
<body class="content">

<!-- Nav bar -->
<div class="w3-bar an-theme-d2">
  <a class="w3-bar-item"
     href="/" >
    <img class="w3-card-4 w3-padding w3-round"
         src="/static/images/linux-delta-logo_ins.png"
         alt="Linux Delta"
         style="height: 80px; background-color: #d7e3f4"/>
  </a>
  {{if ne .Session.Username ""}}
    <form method="post" action="/logout">
      <input class="w3-bar-item w3-button w3-round w3-right w3-margin-top w3-margin-right an-theme-button"
             type="submit"
             value="Logout">
    </form>
    <span class="w3-bar-item w3-right w3-margin an-theme-d3">
      Logged in as: {{.Session.Username}}
    </span>
  {{end}}
</div>

<div class="w3-center an-theme-d2">
  <h3>
    <a href="https://wiki.linuxdelta.com">Check out Linux Delta's new Wiki!</a>
  </h3>
</div>

<div class="rf">
  <form action="/sort" method="post">
    <div class="w3-center">
      <label for="distro-sort"></label>
      <select id="distro-sort"
              class="dropdown"
              name="distro-sort">
        <option value="alphabetical"
                {{if eq .Sort "alphabetical"}}
                  selected
                {{end}}
        >
          Alphabetical
        </option>
        <option value="top-desktop"
                {{if eq .Sort "top-desktop"}}
                  selected
                {{end}}
        >
          Desktop: Top Score
        </option>
        <option value="most-desktop"
                {{if eq .Sort "most-desktop"}}
                  selected
                {{end}}
        >
          Desktop: Most Reviewed
        </option>
        <option value="top-server"
                {{if eq .Sort "top-server"}}
                  selected
                {{end}}
        >
          Server: Top Score
        </option>
        <option value="most-server"
                {{if eq .Sort "most-server"}}
                  selected
                {{end}}
        >
          Server: Most Reviewed
        </option>
        <option value="top-iot"
                {{if eq .Sort "top-iot"}}
                  selected
                {{end}}
        >
          IoT: Top Score
        </option>
        <option value="most-iot"
                {{if eq .Sort "most-iot"}}
                  selected
                {{end}}
        >
          IoT: Most Reviewed
        </option>
        <option value="top-overall"
          {{if eq .Sort "top-overall"}}
                selected
          {{end}}
        >
          Overall: Top Score
        </option>
        <option value="most-overall"
                {{if eq .Sort "most-overall"}}
                  selected
                {{end}}
        >
          Overall: Most Reviewed
        </option>
      </select>

      <input class="w3-button w3-round an-theme-button"
             type="submit"
             value="Sort">
    </div>
  </form>
</div>

<div class="w3-container">
{{if eq .Sort "alphabetical"}}
  {{range .Distros}}
    <a href="distro/{{.Name}}">
      <div class="w3-card w3-center w3-margin-right w3-margin-bottom w3-col w3-mobile"
           style="display: table; width: 270px; height: 200px; background-color: {{.LogoBgColor}}">
        <div class=""
             style="display: table-cell; vertical-align: middle">
          <img class="w3-row-padding"
               style="max-width: 270px; max-height: 200px;"
               src="/static/images/{{.LogoImageH}}"
               alt="{{.Name}}" />
        </div>
      </div>
    </a>
  {{end}}
{{else}}
  {{$sort := .Sort}}
  {{range .Distros}}
    <a href="distro/{{.Name}}">
      <div class="w3-padding"
           style="display: table; height: 200px; width: 100%; max-width: 100%;">
        <div class="w3-card w3-center"
             style="display: table-cell; vertical-align: middle; background: {{.LogoBgColor}};
             width: 70%; height: 100%;">
          <img class=""
               style="max-height: 200px; max-width: 70%;"
               src="/static/images/{{.LogoImageH}}"
               alt="{{.Name}}" />
        </div>
        <div class="w3-card w3-center an-theme-d3"
             style="display: table-cell; vertical-align: middle;">
          {{if eq $sort "top-desktop"}}
            <p>Score:<br />{{twoDecFloat .RatingInfoDesktop.Avg}}</p>
            <p>Reviews:<br />{{.RatingInfoDesktop.Total}}</p>
          {{else if eq $sort "top-server"}}
            <p>Score:<br />{{twoDecFloat .RatingInfoServer.Avg}}</p>
            <p>Reviews:<br />{{.RatingInfoServer.Total}}</p>
          {{else if eq $sort "top-iot"}}
            <p>Score:<br />{{twoDecFloat .RatingInfoIoT.Avg}}</p>
            <p>Reviews:<br />{{.RatingInfoIoT.Total}}</p>
          {{else if eq $sort "top-overall"}}
            <p>Score:<br />{{twoDecFloat .RatingInfoOverall.Avg}}</p>
            <p>Reviews:<br />{{.RatingInfoOverall.Total}}</p>
          {{else if eq $sort "most-desktop"}}
            <p>Reviews:<br />{{.RatingInfoDesktop.Total}}</p>
            <p>Score:<br />{{twoDecFloat .RatingInfoDesktop.Avg}}</p>
          {{else if eq $sort "most-server"}}
            <p>Reviews:<br />{{.RatingInfoServer.Total}}</p>
            <p>Score:<br />{{twoDecFloat .RatingInfoServer.Avg}}</p>
          {{else if eq $sort "most-iot"}}
            <p>Reviews:<br />{{.RatingInfoIoT.Total}}</p>
            <p>Score:<br />{{twoDecFloat .RatingInfoIoT.Avg}}</p>
          {{else if eq $sort "most-overall"}}
            <p>Reviews:<br />{{.RatingInfoOverall.Total}}</p>
            <p>Score:<br />{{twoDecFloat .RatingInfoOverall.Avg}}</p>
          {{end}}
        </div>
      </div>
    </a>
  {{end}}
{{end}}
</div>

<footer class="w3-padding-16 w3-margin-top an-theme-d3 w3-center" id="footer">
  <div class="w3-row-padding">
{{/*    <div class="w3-col s6">*/}}
{{/*      <h4>Concerns? Suggestions?</h4>*/}}
{{/*      <form action="/action" target="_blank">*/}}
{{/*        <p><input class="w3-input w3-border" type="text" placeholder="Name" name="Name" required></p>*/}}
{{/*        <p><input class="w3-input w3-border" type="text" placeholder="Email" name="Email" required></p>*/}}
{{/*        <p><input class="w3-input w3-border" type="text" placeholder="Subject" name="Subject" required></p>*/}}
{{/*        <p><input class="w3-input w3-border" type="text" placeholder="Message" name="Message" required></p>*/}}
{{/*        <button type="submit" class="w3-button w3-block an-theme-button">Send</button>*/}}
{{/*      </form>*/}}
{{/*    </div>*/}}

    <div class="w3-col s12">
      <h3>Additional Resources</h3>
      <p><a href="https://www.altispeed.com/">Altispeed Technologies</a></p>
      <p><a href="http://www.asknoahshow.com/">Ask Noah Show</a></p>
      <p><a href="http://linuxhq.io">Linux HQ</a></p>
      <p><a href="https://gitlab.com/altispeed/linux-delta">Linux Delta GitLab</a></p>
    </div>
  </div>
</footer>

<div class="an-theme-d2 w3-center w3-padding-24">
  Site by
  <a href="https://khronosync.com"
     title="KhronoSync.com"
     target="_blank"
     class="w3-hover-opacity an-theme-devlink">
    KhronoSync Digital Solutions LLC
  </a>
</div>

</body>
</html>